.people-1 ,.people-2 ,.people-3 ,.people-4{
    background-color: rgb(255, 250, 239);
    width:200px;
    margin:10px 20px;
    box-sizing: content-box
}
.testimonial-title{
    color:green
}
.testimonial-content{
    margin-top: 10%;
}

